GitVersion1/flows/SMT_Survey_Step_1_and_Step_2-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Is_Cost_Analyst_Med_S_assignment</name>
        <label>Is_Cost_Analyst_Med_S_assignment</label>
        <locationX>1276</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Cost_Analyst_No_L_assignment</name>
        <label>Is_Cost_Analyst_No_L_assignment</label>
        <locationX>1493</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Cost_Analyst_Yes_E_assignment</name>
        <label>Is_Cost_Analyst_Yes_E_assignment</label>
        <locationX>1044</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_No_assignment</name>
        <label>Is_Self_Mixing_No_assignment</label>
        <locationX>1253</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Via_Dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_Partially_assignment</name>
        <label>Is_Self_Mixing_Partially_assignment</label>
        <locationX>1038</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Via_Dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_Yes_assignment</name>
        <label>Is_Self_Mixing_Yes_assignment</label>
        <locationX>816</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record_Q2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_Med_S_assignment</name>
        <label>Open_For_Changes_Med_S_assignment</label>
        <locationX>1275</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_No_L_assignment</name>
        <label>Open_For_Changes_No_L_assignment</label>
        <locationX>1492</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_Yes_E_assignment</name>
        <label>Open_For_Changes_Yes_E_assignment</label>
        <locationX>1035</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_Med_S_assignment</name>
        <label>Price_Management_Med_S_assignment</label>
        <locationX>1274</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_No_L_assignment</name>
        <label>Price_Management_No_L_assignment</label>
        <locationX>1501</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_Yes_E_assignment</name>
        <label>Price_Management_Yes_E_assignment</label>
        <locationX>1046</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_Med_S_assignment</name>
        <label>Want_To_Invest_Med_S_assignment</label>
        <locationX>1276</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_No_L_assignment</name>
        <label>Want_To_Invest_No_L_assignment</label>
        <locationX>1498</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_Yes_E_assignment</name>
        <label>Want_To_Invest_Yes_E_assignment</label>
        <locationX>1040</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Advisory_Needed_No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Advisory_Needed_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Liczy się dla niego przede wszystkim dobry wynik hodowlany, koszty są drugorzędne i liczy je orientacyjnie uwzględniając główne pozycje tj. koszt zwierząt, weterynarz, media.  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie liczy szczegółowo wydatków, liczy się przede wszystkim najniższa cena zakupu paszy.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, analizuje wszystkie koszty w dłuższej perspektywie np. media, koszty pracowników, koszt miejsca tuczowego (amortyzacja budynku), zakup zwierząt, zużycie paszy i koszty weterynaryjne.  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie posiada zasobów.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_Partially</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tylko w niepełnym stopniu tj. ma zboże i posiada suszarnię, ale bez mieszalni.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_Partially</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, posiada własną mieszalnię.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czasami jest otwarty na zmiany, ale oczekuje sprawdzonych rozwiązań, które rozwiążą jego problemy.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Niechętnie przyjmuje zmiany, bowiem liczy się dla niego przede wszystkim bezpieczeństwo i nie lubi ryzykować lub wprowadza zmianę, gdy zmusza go do tego sytuacja.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; Jest otwarty na zmiany, a często sam o nie zabiega.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dywersyfikuje odbiorców, chcąc tym samym zrównoważyć ryzyko.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Często zmienia odbiorców lub działa na wolnym rynku, akceptując związane z tym ryzyko, ale liczy na wyższy zysk.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Jest lojalny wobec odbiorców z którymi współpracuje na podstawie zawartych umów (tj. ubojnie, odbiorcy jaj itp). Akceptuje niższy zysk, ale dzięki temu ma pewny rynek zbytu i cenę sprzedaży, które pokrywają mu koszty.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>Via_Dealer_No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Via_Dealer_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Ma pomysły na rozwój, ale tylko &amp;quot;w głowie&amp;quot;, wie, że chciałby &amp;quot;coś&amp;quot; osiągnąć, ale nie jest to sprecyzowane (co i kiedy).&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie ma planu, nie chce się rozwijać, a obecna sytuacja jest dla niego wystarczająca. Jeśli planuje zmiany to tylko w odpowiedzi na bieżące problemy, ale nie oczekuje konsultacji w zakresie nowych inwestycji.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, ma szczegółowy plan rozwoju na najbliższe lata i jest otwarty na współprace. &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_Yes_E</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Advisory_Needed_Decisions</name>
        <label>Advisory needed?</label>
        <locationX>444</locationX>
        <locationY>5</locationY>
        <defaultConnector>
            <targetReference>Create_step_1_and_step_2_record_Q1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Advisory_Needed_Answer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sc_Advisory_Needed_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Self_Mixing_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cost_Analyst_Decisions</name>
        <label>Is cost analyst?</label>
        <locationX>1276</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Is_Cost_Analyst_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Cost_Analyst_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cost_Analyst_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Cost_Analyst_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Is_Cost_Analyst_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cost_Analyst_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Cost_Analyst_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_For_Changes_Decisions</name>
        <label>Is open for change?</label>
        <locationX>1272</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Open_For_Changes_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Open_For_Changes_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_For_Changes_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_For_Changes_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Open_For_Changes_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_For_Changes_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_For_Changes_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Management_Decisions</name>
        <label>How manage prices</label>
        <locationX>1279</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Price_Management_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Price_Management_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Management_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Management_Yes_E_assignment</targetReference>
            </connector>
            <label>Is contracted</label>
        </rules>
        <rules>
            <name>Price_Management_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Management_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Management_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Mixing_Decisions</name>
        <label>Is self mixing?</label>
        <locationX>1035</locationX>
        <locationY>4</locationY>
        <defaultConnector>
            <targetReference>Is_Self_Mixing_Yes_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Self_Mixing_Answer_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Self_Mixing_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Mixing_No_assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Self_Mixing_Answer_Partially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Self_Mixing_Partially</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Mixing_Partially_assignment</targetReference>
            </connector>
            <label>Partially</label>
        </rules>
    </decisions>
    <decisions>
        <name>Via_Dealer_Decisions</name>
        <label>Via Dealer?</label>
        <locationX>1042</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Via_Dealer_Answer_YesOrNo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sc_Via_Dealer_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sc_Via_Dealer_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Open_For_Changes_Question</targetReference>
            </connector>
            <label>Yes or No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_To_Invest_Decisions</name>
        <label>Want to invest?</label>
        <locationX>1273</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>Want_To_Invest_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Want_To_Invest_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_Invest_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Want_To_Invest_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Want_To_Invest_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_Invest_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Want_To_Invest_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <description>EN: Segmentation Survey Step-1 and subsegment 9-box Step-2 
CFN Poland customer classification survey to global CAN segments.</description>
    <interviewLabel>Segmentacja podstawowa (Step-1) i subsegmentacja 9-box (Step-2) - ankieta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Segmentacja podstawowa (Step-1) i subsegmentacja 9-box (Step-2) - ankieta</label>
    <processType>Flow</processType>
    <recordCreates>
        <description>CFN Poland Segmentation Survey (step-1 &amp; step-2)</description>
        <name>Create_step_1_and_step_2_record</name>
        <label>Create step-1 and step-2 record</label>
        <locationX>1275</locationX>
        <locationY>1204</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>sc_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Q7_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_Med_S__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_No_L__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_Yes_E__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_No__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Partially__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Partially</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Yes__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_Med_S__c</field>
            <value>
                <elementReference>var_Open_For_Changes_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_No_L__c</field>
            <value>
                <elementReference>var_Open_For_Changes_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_Yes_E__c</field>
            <value>
                <elementReference>var_Open_For_Changes_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_Med_S__c</field>
            <value>
                <elementReference>var_Price_Management_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_No_L__c</field>
            <value>
                <elementReference>var_Price_Management_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_Yes_E__c</field>
            <value>
                <elementReference>var_Price_Management_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_Med_S__c</field>
            <value>
                <elementReference>var_Want_To_Invest_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_No_L__c</field>
            <value>
                <elementReference>var_Want_To_Invest_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_Yes_E__c</field>
            <value>
                <elementReference>var_Want_To_Invest_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Advisory_Needed_Answers__c</field>
            <value>
                <elementReference>sc_Advisory_Needed_Answers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Via_Dealer_Answers__c</field>
            <value>
                <elementReference>sc_Via_Dealer_Answers</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Segmentation__c</object>
    </recordCreates>
    <recordCreates>
        <description>CFN Poland Segmentation Survey (step-1 &amp; step-2)</description>
        <name>Create_step_1_and_step_2_record_Q1</name>
        <label>Create step-1 and step-2 record</label>
        <locationX>438</locationX>
        <locationY>1204</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>sc_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Advisory_Needed_Answers__c</field>
            <value>
                <elementReference>sc_Advisory_Needed_Answers</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Segmentation__c</object>
    </recordCreates>
    <recordCreates>
        <description>CFN Poland Segmentation Survey (step-1 &amp; step-2)</description>
        <name>Create_step_1_and_step_2_record_Q2</name>
        <label>Create step-1 and step-2 record</label>
        <locationX>820</locationX>
        <locationY>299</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>sc_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Self_Mixing_No__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Partially__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Partially</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Yes__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Advisory_Needed_Answers__c</field>
            <value>
                <elementReference>sc_Advisory_Needed_Answers</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Segmentation__c</object>
    </recordCreates>
    <screens>
        <name>sc_Advisory_Needed_Question</name>
        <label>Czy hodowca w istotnym stopniu potrzebuje doradztwa żywieniowego firmy paszowej?</label>
        <locationX>271</locationX>
        <locationY>5</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Advisory_Needed_Decisions</targetReference>
        </connector>
        <fields>
            <name>Welcome_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Szanowni Państwo,&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Body</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Niniejsza &lt;B&gt;ankieta ma na celu&lt;/B&gt; &lt;B&gt;zakwalifikowanie&lt;/B&gt; hodowcy (istniejącego bądź potencjalnego klienta) do właściwego &lt;B&gt;segmentu &lt;/B&gt;w oparciu o:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;segmentację podstawową tzw. Step-1&lt;/B&gt; (w CFN: Noah, Sonya lub w dystrybucji: Dennis, Baxter lub ich klient tj. Użytkownik Końcowy | Konsument (z ang. End-User | Consumer)&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;subsegmentację 9-Box tzw. Step-2 &lt;/B&gt;(9 pól kwadratu, którego oś Y reprezentuje potencjał klienta a oś X reprezentuje zakres serwisu i produktów, który stanowi taką wartość dla hodowcy za którą jest skłonny zapłacić).&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Footer</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Przypisanie hodowcy do segmentu na podstawie zdefiniowanych kryteriów umożliwi lepsze dopasowanie istniejącej oferty produktowej i serwisowej do potrzeb danego hodowcy, stworzenie nowej wyróżniającej się oferty poprzez lepsze zrozumienie naszego klienta a także pozwoli nam na skoncentrowanie naszych ograniczonych zasobów we właściwych segmentach.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Break0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Segmentacja Podstawowa Step-1&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Nazwa konta: {!varAccountAliasName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Rola użytkownika w Crescendo: {!varActiveUserRole}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Advisory_Needed_Answers</name>
            <choiceReferences>Advisory_Needed_Yes</choiceReferences>
            <choiceReferences>Advisory_Needed_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca w istotnym stopniu potrzebuje doradztwa żywieniowego firmy paszowej?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_End</name>
        <label>End</label>
        <locationX>820</locationX>
        <locationY>1205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dziękujęmy za udział w ankiecie!&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Open_For_Changes_Question</name>
        <label>Czy hodowca jest otwarty na zmiany w zakresie nowych produktów i usług?</label>
        <locationX>1271</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_For_Changes_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step2_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;U&gt;Subsegmentacja 9-Box Step-2&lt;/U&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Nazwa konta: {!varAccountAliasName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Rola użytkownika w Crescendo: {!varActiveUserRole}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Open_For_Changes_Answers</name>
            <choiceReferences>Open_For_Changes_Yes_E</choiceReferences>
            <choiceReferences>Open_For_Changes_Med_S</choiceReferences>
            <choiceReferences>Open_For_Changes_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca jest otwarty na zmiany w zakresie nowych produktów i usług?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Cost_Analyst_Answers</name>
            <choiceReferences>Is_Cost_Analyst_Yes_E</choiceReferences>
            <choiceReferences>Is_Cost_Analyst_Med_S</choiceReferences>
            <choiceReferences>Is_Cost_Analyst_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca prowadząc biznes analizuje szczegółowo koszty?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Want_To_Invest_Answers</name>
            <choiceReferences>Want_To_Invest_Yes_E</choiceReferences>
            <choiceReferences>Want_To_Invest_Med_S</choiceReferences>
            <choiceReferences>Want_To_Invest_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca wyraża chęć rozwoju i inwestowania w swój biznes?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Price_Management_Answers</name>
            <choiceReferences>Price_Management_Yes_E</choiceReferences>
            <choiceReferences>Price_Management_Med_S</choiceReferences>
            <choiceReferences>Price_Management_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;W jaki sposób hodowca zarządza ceną sprzedaży? (nie dotyczy bydła)&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Comment</name>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Komentarz (opcjonalnie)&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Self_Mixing_Question</name>
        <label>Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?</label>
        <locationX>674</locationX>
        <locationY>3</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Self_Mixing_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header2</name>
            <fieldText>{!Step1_header}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Self_Mixing_Question_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Self_Mixing_Answers</name>
            <choiceReferences>Is_Self_Mixing_Yes</choiceReferences>
            <choiceReferences>Is_Self_Mixing_Partially</choiceReferences>
            <choiceReferences>Is_Self_Mixing_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Via_Dealer</name>
        <label>Czy hodowca kupuje bezpośrednio przez Dealer&apos;a?</label>
        <locationX>1042</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Via_Dealer_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header3</name>
            <fieldText>{!Step1_header}
{!sc_Is_Self_Mixing_Answers}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Via_Dealer_Answers</name>
            <choiceReferences>Via_Dealer_Yes</choiceReferences>
            <choiceReferences>Via_Dealer_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca kupuje bezpośrednio przez Dealer&amp;apos;a?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>sc_Advisory_Needed_Question</startElementReference>
    <variables>
        <name>var_Is_Cost_Analyst_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Cost_Analyst_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Cost_Analyst_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_No</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_Partially</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_out_UserLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
    <variables>
        <name>var_out_UserName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_out_UserProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>var_out_UserRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserRole</objectType>
    </variables>
    <variables>
        <name>var_Price_Management_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Price_Management_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Price_Management_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountAliasName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountId to receive from button</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
