GitVersion1/flows/SMT_Survey_Step_1_and_Step_2-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AlignedOfferYes_Assignment</name>
        <label>AlignedOfferYes_Assignment</label>
        <locationX>6</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>var_AlignedOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PoultryProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WideOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExtensiveOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedSalesIncrease_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaxterPOS_1_Assignment</name>
        <label>BaxterPOS_1_Assignment</label>
        <locationX>400</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_2_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_4orMore</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_DealersOffer_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaxterPOS_2_3_Assignment</name>
        <label>BaxterPOS_2_3_Assignment</label>
        <locationX>543</locationX>
        <locationY>1530</locationY>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_2_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_4orMore</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_DealersOffer_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaxterPOS_4orMore_Assignment</name>
        <label>BaxterPOS_4orMore_Assignment</label>
        <locationX>681</locationX>
        <locationY>1530</locationY>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_2_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterPOS_4orMore</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_DealersOffer_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaxterSeasonal_Assignment</name>
        <label>BaxterSeasonal_Assignment</label>
        <locationX>399</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>var_BaxterSeasonal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterWholeYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_BaxterNoOfSalesPoints_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaxterWholeYear_Assignment</name>
        <label>BaxterWholeYear_Assignment</label>
        <locationX>622</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>var_BaxterSeasonal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BaxterWholeYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_BaxterNoOfSalesPoints_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BiggerConsumersYes_Assignment</name>
        <label>BiggerConsumersYes_Assignment</label>
        <locationX>72</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_BiggerConsumersYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SmallerConsumersYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_DealerDennisOffer_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeProactive_Assignment</name>
        <label>ChangeProactive_Assignment</label>
        <locationX>709</locationX>
        <locationY>1935</locationY>
        <assignmentItems>
            <assignToReference>var_ChangeResistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConsiderChanges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeProactive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_distribution_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeResistant_Assignment</name>
        <label>ChangeResistant_Assignment</label>
        <locationX>410</locationX>
        <locationY>1933</locationY>
        <assignmentItems>
            <assignToReference>var_ChangeResistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConsiderChanges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeProactive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_distribution_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConsiderChanges_Assignment</name>
        <label>ConsiderChanges_Assignment</label>
        <locationX>559</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>var_ChangeResistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConsiderChanges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeProactive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_distribution_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DealerSalesLevelAbove50pc_Assignment</name>
        <label>DealerSalesLevelAbove50pc_Assignment</label>
        <locationX>348</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>var_DealerSalesLevelAbove50pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DealerSalesLevelBelow50pc_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedingFormulas_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DealerSalesLevelBelow50pc_Assignment</name>
        <label>DealerSalesLevelBelow50pc_Assignment</label>
        <locationX>638</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>var_DealerSalesLevelAbove50pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DealerSalesLevelBelow50pc_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedingFormulas_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DontEmployPHbutPOS_Yes_Assignment</name>
        <label>DontEmployPHbutPOS_Yes_Assignment</label>
        <locationX>148</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>var_DontEmployPHnorPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DontEmployPHbutPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WantsEmployPHandPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmployPHMoreImportantThanPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Baxter_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DontEmployPHnorPOS_Yes_Assignment</name>
        <label>DontEmployPHnorPOS_Yes_Assignment</label>
        <locationX>13</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>var_DontEmployPHnorPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DontEmployPHbutPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WantsEmployPHandPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmployPHMoreImportantThanPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Baxter_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmployPHMoreImportantThanPOS_Yes_Assignment</name>
        <label>EmployPHMoreImportantThanPOS_Yes_Assignment</label>
        <locationX>425</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>var_DontEmployPHnorPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DontEmployPHbutPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WantsEmployPHandPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmployPHMoreImportantThanPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Baxter_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExtensiveOfferYes_Assignment</name>
        <label>ExtensiveOfferYes_Assignment</label>
        <locationX>433</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>var_AlignedOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PoultryProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WideOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExtensiveOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedSalesIncrease_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FeedingFormulas_CompleteFeedAndConcentrates_Assignment</name>
        <label>FeedingFormulas_CompleteFeedAndConcentrates_Assignment</label>
        <locationX>645</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>var_FeedingFormulas_PremixAndIngredients</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FeedingFormulas_CompleteFeedAndConcentrates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedingFormulasCreation_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FeedingFormulas_PremixAndIngredients_Assignment</name>
        <label>FeedingFormulas_PremixAndIngredients_Assignment</label>
        <locationX>351</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>var_FeedingFormulas_PremixAndIngredients</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FeedingFormulas_CompleteFeedAndConcentrates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedingFormulasCreation_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HasAlignedOffer_Assignment</name>
        <label>HasAlignedOffer_Assignment</label>
        <locationX>691</locationX>
        <locationY>1729</locationY>
        <assignmentItems>
            <assignToReference>var_HasSelectiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasExtensiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasAlignedOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_ReactingOnChanges_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HasExtensiveOffer_Assignment</name>
        <label>HasExtensiveOffer_Assignment</label>
        <locationX>545</locationX>
        <locationY>1729</locationY>
        <assignmentItems>
            <assignToReference>var_HasSelectiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasExtensiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasAlignedOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_ReactingOnChanges_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HasSelectiveOffer_Assignment</name>
        <label>HasSelectiveOffer_Assignment</label>
        <locationX>404</locationX>
        <locationY>1734</locationY>
        <assignmentItems>
            <assignToReference>var_HasSelectiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasExtensiveOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HasAlignedOffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_ReactingOnChanges_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Cost_Analyst_Med_S_assignment</name>
        <label>Is_Cost_Analyst_Med_S_assignment</label>
        <locationX>1278</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Cost_Analyst_No_L_assignment</name>
        <label>Is_Cost_Analyst_No_L_assignment</label>
        <locationX>1495</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Cost_Analyst_Yes_E_assignment</name>
        <label>Is_Cost_Analyst_Yes_E_assignment</label>
        <locationX>1046</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Cost_Analyst_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Want_To_Invest_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_No_assignment</name>
        <label>Is_Self_Mixing_No_assignment</label>
        <locationX>1451</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Via_Dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_Partially_assignment</name>
        <label>Is_Self_Mixing_Partially_assignment</label>
        <locationX>1261</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Via_Dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Self_Mixing_Yes_assignment</name>
        <label>Is_Self_Mixing_Yes_assignment</label>
        <locationX>1043</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_Partially</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Self_Mixing_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Via_Dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsDistributorCreatingFormulasYes_Assignment</name>
        <label>IsDistributorCreatingFormulasYes_Assignment</label>
        <locationX>357</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>var_IsDistributorCreatingFormulasYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsFeedCompanyCreatingFormulasYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Dennis_E_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsFeedCompanyCreatingFormulasYes_Assignment</name>
        <label>IsFeedCompanyCreatingFormulasYes_Assignment</label>
        <locationX>647</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>var_IsFeedCompanyCreatingFormulasYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsDistributorCreatingFormulasYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Dennis_E_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_Med_S_assignment</name>
        <label>Open_For_Changes_Med_S_assignment</label>
        <locationX>1277</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_No_L_assignment</name>
        <label>Open_For_Changes_No_L_assignment</label>
        <locationX>1494</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_For_Changes_Yes_E_assignment</name>
        <label>Open_For_Changes_Yes_E_assignment</label>
        <locationX>1037</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Open_For_Changes_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cost_Analyst_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PoultryProducts_Assignment</name>
        <label>PoultryProducts_Assignment</label>
        <locationX>153</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>var_AlignedOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PoultryProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WideOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExtensiveOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedSalesIncrease_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_Med_S_assignment</name>
        <label>Price_Management_Med_S_assignment</label>
        <locationX>1276</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_No_L_assignment</name>
        <label>Price_Management_No_L_assignment</label>
        <locationX>1503</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Management_Yes_E_assignment</name>
        <label>Price_Management_Yes_E_assignment</label>
        <locationX>1048</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>var_Price_Management_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Price_Management_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_step_1_and_step_2_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmallerConsumersYes_Assignment</name>
        <label>SmallerConsumersYes_Assignment</label>
        <locationX>363</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>var_SmallerConsumersYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BiggerConsumersYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_DealerDennisOffer_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_Med_S_assignment</name>
        <label>Want_To_Invest_Med_S_assignment</label>
        <locationX>1278</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_No_L_assignment</name>
        <label>Want_To_Invest_No_L_assignment</label>
        <locationX>1500</locationX>
        <locationY>1029</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Want_To_Invest_Yes_E_assignment</name>
        <label>Want_To_Invest_Yes_E_assignment</label>
        <locationX>1042</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Yes_E</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_Med_S</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Want_To_Invest_No_L</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Management_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WantsEmployPHandPOS_Yes_Assignment</name>
        <label>WantsEmployPHandPOS_Yes_Assignment</label>
        <locationX>285</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>var_DontEmployPHnorPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DontEmployPHbutPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WantsEmployPHandPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmployPHMoreImportantThanPOS_Yes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Is_Baxter_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WideOfferYes_Assignment</name>
        <label>WideOfferYes_Assignment</label>
        <locationX>288</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>var_AlignedOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PoultryProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WideOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExtensiveOfferYes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_FeedSalesIncrease_Decisions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Advisory_Needed_No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Advisory_Needed_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>AlignedOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dopasowana oferta produktowa , warunki handlowe oraz stały serwis pozwalające aktywnie pozyskiwać klientów z segmentu trzoda lub bydło&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>AlignedOfferYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dopasowana oferta produktowa , warunki handlowe  oraz  stały serwis DŻ pozwalające aktywnie pozyskiwać klientów z segmentu trzoda lub bydło&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>AlignedOfferYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>BaxterPointOfSales</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ilość punktów sprzedaży paszy: (suma punktów tj. własne magazyny + mobil/e + van selling)&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BaxterPOS_1</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1 punkt&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BaxterPOS_1</elementReference>
        </value>
    </choices>
    <choices>
        <name>BaxterPOS_2_3</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;od 2-ch do 3-ch punktów&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BaxterPOS_2_3</elementReference>
        </value>
    </choices>
    <choices>
        <description>4 i więcej punktów</description>
        <name>BaxterPOS_4orMore</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4 i więcej punktów&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BaxterPOS_4orMore</elementReference>
        </value>
    </choices>
    <choices>
        <name>BaxterSeasonal</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;sezonowo - skoncentrowany na sprzedaży od wiosny do jesieni. Po sezonie czasem czynne nieregularnie lub sprzedaż „pod klienta”&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BaxterSeasonal</elementReference>
        </value>
    </choices>
    <choices>
        <name>BaxterWholeYear</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;całorocznie; siedziba / główny punkt handlowy dostępny w określonych godzinach&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BaxterWholeYear</elementReference>
        </value>
    </choices>
    <choices>
        <name>BiggerConsumersYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Większych  odbiorców ( tj.  zakupy luz /sprzedaż paletowa lub  większe ilości worków), którzy  stanowią  ok. 75% całości obrotu paszowego . Dodatkowo  Dystrybutor obsługuje co najmniej  5 hodowców bezpośrednich (ship to) &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>BiggerConsumersYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChangeProactive</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Aktywny, otwarty na zmiany, często sam o nie zabiega lub inicjuje&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>ChangeProactive</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChangeResistant</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;niechętny zmianom, unika ryzyka, bardzo „oporny”, trudny do przekonania&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>ChangeResistant</elementReference>
        </value>
    </choices>
    <choices>
        <name>Channel_Is_Dealer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ankieta dotyczy Dealera&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Channel_Is_Direct</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ankieta nie dotyczy dealera, lecz hodowcy (bez względu na to czy kupuje bezpośrednio czy przez dealera)&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ConsiderChanges</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nie wyklucza zmian, ale oczekuje sprawdzonych rozwiązań oraz wsparcia&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>ConsiderChanges</elementReference>
        </value>
    </choices>
    <choices>
        <name>DealerSalesLevelAbove50pc</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Powyżej 50%&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>DealerSalesLevelAbove50pc</elementReference>
        </value>
    </choices>
    <choices>
        <name>DealerSalesLevelBelow50pc</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Poniżej 50%&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>DealerSalesLevelBelow50pc</elementReference>
        </value>
    </choices>
    <choices>
        <name>DontEmployPHbutPOS_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nie zatrudnia Przedstawiciela Handlowego i aktualnie nie widzi potrzeby zatrudniania PH działającego w terenie - wołałby / jest zainteresowany pozyskaniem POS  &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>DontEmployPHbutPOS_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>DontEmployPHnorPOS_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nie zatrudnia / nie potrzebuje Przedstawiciela Handlowego ani nowych POS  &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>DontEmployPHnorPOS_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>EmployPHMoreImportantThanPOS_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Zatrudnia Przedstawiciela Handlowego /chciałby zatrudnić PH działającego w terenie, PH jest dla niego ważniejszy niż pozyskanie nowego POS  &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>EmployPHMoreImportantThanPOS_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>ExtensiveOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Kompleksowa oferta produktów, warunki handlowe oraz wsparcie pozwalające być konkurencyjnym we wszystkich segmentach klientów&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ExtensiveOfferYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Kompleksowa oferta produktów,  warunki handlowe  oraz wsparcie pozwalające  być konkurencyjnym  we wszystkich segmentach klientów&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>ExtensiveOfferYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>FeedingFormulas_CompleteFeedAndConcentrates</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Pasze pełnoporcjowe i koncentraty&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>FeedingFormulas_CompleteFeedAndConcentrates</elementReference>
        </value>
    </choices>
    <choices>
        <name>FeedingFormulas_PremixAndIngredients</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Premiksy i surowce&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>FeedingFormulas_PremixAndIngredients</elementReference>
        </value>
    </choices>
    <choices>
        <name>HasAlignedOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;posiada dopasowaną ofertę paszową. Ma „politykę cenową” (systemowe rozwiązania) przy większych zakupach lub dla POS . Ma zorganizowany transport / logistykę dopasowaną do obsługiwanego segmentu&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>HasAlignedOffer</elementReference>
        </value>
    </choices>
    <choices>
        <name>HasExtensiveOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;posiada szeroką ofertę paszową - jak trzeba udziela rabatów, dowozi i kredytuje&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>HasExtensiveOffer</elementReference>
        </value>
    </choices>
    <choices>
        <name>HasSelectiveOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;posiada wybraną ofertę paszową - nie stosuje rabatów / niechętnie rabatuje ; z zasady nie kredytuje i nie dowozi paszy do klienta&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>HasSelectiveOffer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Liczy się dla niego przede wszystkim dobry wynik hodowlany, koszty są drugorzędne i liczy je orientacyjnie uwzględniając główne pozycje tj. koszt zwierząt, weterynarz, media.  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie liczy szczegółowo wydatków, liczy się przede wszystkim najniższa cena zakupu paszy.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Cost_Analyst_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, analizuje wszystkie koszty w dłuższej perspektywie np. media, koszty pracowników, koszt miejsca tuczowego (amortyzacja budynku), zakup zwierząt, zużycie paszy i koszty weterynaryjne.  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Cost_Analyst_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie posiada zasobów.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_Partially</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tylko w niepełnym stopniu tj. ma zboże i posiada suszarnię, ale bez mieszalni.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_Partially</elementReference>
        </value>
    </choices>
    <choices>
        <name>Is_Self_Mixing_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, posiada własną mieszalnię.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Is_Self_Mixing_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>IsDistributorCreatingFormulasYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Osobiście Dystrybutor lub jego PH&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>IsDistributorCreatingFormulasYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>IsFeedCompanyCreatingFormulasYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Doradca żywieniowy dostawcy pasz&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>IsFeedCompanyCreatingFormulasYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czasami jest otwarty na zmiany, ale oczekuje sprawdzonych rozwiązań, które rozwiążą jego problemy.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Niechętnie przyjmuje zmiany, bowiem liczy się dla niego przede wszystkim bezpieczeństwo i nie lubi ryzykować lub wprowadza zmianę, gdy zmusza go do tego sytuacja.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Open_For_Changes_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; Jest otwarty na zmiany, a często sam o nie zabiega.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Open_For_Changes_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>PoultryGoods</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Produkty dla drobiu&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PoultryProducts</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Produkty dla drobiu &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>PoultryProducts</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dywersyfikuje odbiorców, chcąc tym samym zrównoważyć ryzyko.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Często zmienia odbiorców lub działa na wolnym rynku, akceptując związane z tym ryzyko, ale liczy na wyższy zysk.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Price_Management_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Jest lojalny wobec odbiorców z którymi współpracuje na podstawie zawartych umów (tj. ubojnie, odbiorcy jaj itp). Akceptuje niższy zysk, ale dzięki temu ma pewny rynek zbytu i cenę sprzedaży, które pokrywają mu koszty.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Price_Management_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>SmallerConsumersYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;W ok. 75% lub  więcej do małych  hodowców ;  hurtowa sprzedaż (tj.  zakupy luz /sprzedaż paletowa lub  większe ilości worków) stanowi  nie więcej niż 25% całości obrotu paszowego&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>SmallerConsumersYes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Via_Dealer_No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie (kanał bezpośredni)&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Via_Dealer_Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_Med_S</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Ma pomysły na rozwój, ale tylko &amp;quot;w głowie&amp;quot;, wie, że chciałby &amp;quot;coś&amp;quot; osiągnąć, ale nie jest to sprecyzowane (co i kiedy).&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_Med_S</elementReference>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_No_L</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nie ma planu, nie chce się rozwijać, a obecna sytuacja jest dla niego wystarczająca. Jeśli planuje zmiany to tylko w odpowiedzi na bieżące problemy, ale nie oczekuje konsultacji w zakresie nowych inwestycji.&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_No_L</elementReference>
        </value>
    </choices>
    <choices>
        <name>Want_To_Invest_Yes_E</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tak, ma szczegółowy plan rozwoju na najbliższe lata i jest otwarty na współprace. &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Want_To_Invest_Yes_E</elementReference>
        </value>
    </choices>
    <choices>
        <name>WantsEmployPHandPOS_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dla rozwoju stawia na równi posiadanie / zatrudnienie PH działającego w terenie oraz / lub pozyskanie nowych  POS  Baxter  &lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>WantsEmployPHandPOS_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>WideOffer</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Szeroka oferta produktów, których potrzebują klienci z terenu&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>WideOfferYes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Szeroka oferta produktów, których potrzebują klienci z terenu&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>WideOfferYes</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Advisory_Needed_Decisions</name>
        <label>Advisory needed?</label>
        <locationX>672</locationX>
        <locationY>3</locationY>
        <defaultConnector>
            <targetReference>sc_Is_Self_Mixing_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Advisory_Needed_Answer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sc_Advisory_Needed_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Self_Mixing_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cost_Analyst_Decisions</name>
        <label>Is cost analyst?</label>
        <locationX>1278</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Is_Cost_Analyst_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Cost_Analyst_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cost_Analyst_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Cost_Analyst_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Is_Cost_Analyst_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cost_Analyst_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Cost_Analyst_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dealer_Channel_Decisions</name>
        <label>Is Dealer Channel</label>
        <locationX>216</locationX>
        <locationY>8</locationY>
        <defaultConnector>
            <targetReference>sc_Advisory_Needed_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Dealer_Channel_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel_Is_Dealer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Spence_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Is_Dealer_Channel_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel_Is_Direct</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Advisory_Needed_Question</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_For_Changes_Decisions</name>
        <label>Is open for change?</label>
        <locationX>1274</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Open_For_Changes_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Open_For_Changes_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_For_Changes_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_For_Changes_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Open_For_Changes_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_For_Changes_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_For_Changes_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Management_Decisions</name>
        <label>How manage prices</label>
        <locationX>1281</locationX>
        <locationY>1112</locationY>
        <defaultConnector>
            <targetReference>Price_Management_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Price_Management_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Management_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Management_Yes_E_assignment</targetReference>
            </connector>
            <label>Is contracted</label>
        </rules>
        <rules>
            <name>Price_Management_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Management_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Management_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_BaxterNoOfSalesPoints_Decisions</name>
        <label>BaxterNoOfSalesPoints</label>
        <locationX>519</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BaxterPOS_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaxterPOS_1</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BaxterPOS_1_Assignment</targetReference>
            </connector>
            <label>BaxterPOS_1</label>
        </rules>
        <rules>
            <name>BaxterPOS_2_3_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaxterPOS_2_3</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BaxterPOS_2_3_Assignment</targetReference>
            </connector>
            <label>BaxterPOS_2_3</label>
        </rules>
        <rules>
            <name>BaxterPOS_4orMore_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaxterPOS_4orMore</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BaxterPOS_4orMore_Assignment</targetReference>
            </connector>
            <label>BaxterPOS_4orMore</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_DealerDennisOffer_Decisions</name>
        <label>DealerDennisOffer</label>
        <locationX>219</locationX>
        <locationY>713</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AlignedOfferYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlignedOfferYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlignedOfferYes_Assignment</targetReference>
            </connector>
            <label>AlignedOffer</label>
        </rules>
        <rules>
            <name>PoultryProducts_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PoultryProducts</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PoultryProducts_Assignment</targetReference>
            </connector>
            <label>PoultryProducts</label>
        </rules>
        <rules>
            <name>WideOfferYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WideOfferYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WideOfferYes_Assignment</targetReference>
            </connector>
            <label>WideOfferYes</label>
        </rules>
        <rules>
            <name>ExtensiveOfferYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExtensiveOfferYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtensiveOfferYes_Assignment</targetReference>
            </connector>
            <label>ExtensiveOfferYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_DealerDennisSalesTo_Decisions</name>
        <label>DealerDennisSalesTo</label>
        <locationX>220</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BiggerConsumersYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BiggerConsumersYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BiggerConsumersYes_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>SmallerConsumersYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SmallerConsumersYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmallerConsumersYes_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_DealerSalesLevel_Decisions</name>
        <label>DealerSalesLevel</label>
        <locationX>496</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DealerSalesLevelAbove50pc_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DealerSalesLevelAbove50pc</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealerSalesLevelAbove50pc_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>DealerSalesLevelBelow50pc_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DealerSalesLevelBelow50pc</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealerSalesLevelBelow50pc_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_DealersOffer_Decisions</name>
        <label>DealersOffer</label>
        <locationX>530</locationX>
        <locationY>1628</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasSelectiveOffer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasSelectiveOffer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasSelectiveOffer_Assignment</targetReference>
            </connector>
            <label>HasSelectiveOffer</label>
        </rules>
        <rules>
            <name>HasExtensiveOffer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasExtensiveOffer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasExtensiveOffer_Assignment</targetReference>
            </connector>
            <label>HasExtensiveOffer</label>
        </rules>
        <rules>
            <name>HasAlignedOffer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAlignedOffer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasAlignedOffer_Assignment</targetReference>
            </connector>
            <label>HasAlignedOffer</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_FeedingFormulas_Decisions</name>
        <label>FeedingFormulas</label>
        <locationX>496</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FeedingFormulas_PremixAndIngredients_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedingFormulas_PremixAndIngredients</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeedingFormulas_PremixAndIngredients_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>FeedingFormulas_CompleteFeedAndConcentrates_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedingFormulas_CompleteFeedAndConcentrates</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeedingFormulas_CompleteFeedAndConcentrates_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_FeedingFormulasCreation_Decisions</name>
        <label>FeedingFormulasCreation</label>
        <locationX>505</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsDistributorCreatingFormulasYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDistributorCreatingFormulasYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsDistributorCreatingFormulasYes_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>IsFeedCompanyCreatingFormulasYes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFeedCompanyCreatingFormulasYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsFeedCompanyCreatingFormulasYes_Assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_FeedSalesIncrease_Decisions</name>
        <label>FeedSalesIncrease</label>
        <locationX>211</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DontEmployPHnorPOS_Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DontEmployPHnorPOS_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DontEmployPHnorPOS_Yes_Assignment</targetReference>
            </connector>
            <label>DontEmployPHnorPOS_Yes</label>
        </rules>
        <rules>
            <name>DontEmployPHbutPOS_Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DontEmployPHbutPOS_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DontEmployPHbutPOS_Yes_Assignment</targetReference>
            </connector>
            <label>DontEmployPHbutPOS_Yes</label>
        </rules>
        <rules>
            <name>WantsEmployPHandPOS_Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WantsEmployPHandPOS_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WantsEmployPHandPOS_Yes_Assignment</targetReference>
            </connector>
            <label>WantsEmployPHandPOS_Yes</label>
        </rules>
        <rules>
            <name>EmployPHMoreImportantThanPOS_Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployPHMoreImportantThanPOS_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmployPHMoreImportantThanPOS_Yes_Assignment</targetReference>
            </connector>
            <label>EmployPHMoreImportantThanPOS_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_Is_Baxter_Decisions</name>
        <label>Is_Baxter</label>
        <locationX>523</locationX>
        <locationY>1239</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BaxterSeasonal_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaxterSeasonal</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BaxterSeasonal_Assignment</targetReference>
            </connector>
            <label>BaxterSeasonal</label>
        </rules>
        <rules>
            <name>BaxterWholeYear_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaxterWholeYear</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BaxterWholeYear_Assignment</targetReference>
            </connector>
            <label>BaxterWholeYear</label>
        </rules>
    </decisions>
    <decisions>
        <name>sc_ReactingOnChanges_Decisions</name>
        <label>ReactingOnChanges</label>
        <locationX>547</locationX>
        <locationY>1827</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChangeResistant_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeResistant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeResistant_Assignment</targetReference>
            </connector>
            <label>ChangeResistant</label>
        </rules>
        <rules>
            <name>ConsiderChanges_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsiderChanges</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConsiderChanges_Assignment</targetReference>
            </connector>
            <label>ConsiderChanges</label>
        </rules>
        <rules>
            <name>ChangeProactive_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeProactive</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeProactive_Assignment</targetReference>
            </connector>
            <label>ChangeProactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Mixing_Decisions</name>
        <label>Is self mixing?</label>
        <locationX>1258</locationX>
        <locationY>4</locationY>
        <defaultConnector>
            <targetReference>Is_Self_Mixing_Yes_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Self_Mixing_Answer_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Self_Mixing_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Mixing_No_assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Self_Mixing_Answer_Partially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Self_Mixing_Partially</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Self_Mixing_Partially_assignment</targetReference>
            </connector>
            <label>Partially</label>
        </rules>
    </decisions>
    <decisions>
        <name>Via_Dealer_Decisions</name>
        <label>Via Dealer?</label>
        <locationX>1268</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Via_Dealer_Answer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sc_Via_Dealer_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Open_For_Changes_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Via_Dealer_Answer_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sc_Via_Dealer_Answers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Is_Open_For_Changes_Question</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_To_Invest_Decisions</name>
        <label>Want to invest?</label>
        <locationX>1275</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Want_To_Invest_No_L_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Want_To_Invest_Yes_E_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_Invest_Yes_E</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Want_To_Invest_Yes_E_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Want_To_Invest_Med_S_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_Invest_Med_S</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Want_To_Invest_Med_S_assignment</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <description>EN: Segmentation Survey Step-1 and subsegment 9-box Step-2 
CFN Poland customer classification survey to global CAN segments.</description>
    <interviewLabel>Segmentacja podstawowa (Step-1) i subsegmentacja 9-box (Step-2) - ankieta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Segmentacja podstawowa (Step-1) i subsegmentacja 9-box (Step-2) - ankieta</label>
    <processType>Flow</processType>
    <recordCreates>
        <description>CFN Poland Segmentation Survey (step-1 &amp; step-2) for Distribution channel</description>
        <name>Create_distribution_step_1_and_step_2_record</name>
        <label>Create distribution step-1 and step-2 record</label>
        <locationX>569</locationX>
        <locationY>2045</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>sc_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Q8_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerSalesLevelAbove50pc__c</field>
            <value>
                <elementReference>var_DealerSalesLevelAbove50pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerSalesLevelBelow50pc__c</field>
            <value>
                <elementReference>var_DealerSalesLevelBelow50pc_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j00000000JbqAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Segmentation__c</object>
    </recordCreates>
    <recordCreates>
        <description>CFN Poland Segmentation Survey (step-1 &amp; step-2)</description>
        <name>Create_step_1_and_step_2_record</name>
        <label>Create step-1 and step-2 record</label>
        <locationX>1276</locationX>
        <locationY>1523</locationY>
        <assignRecordIdToReference>varSurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>sc_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Q7_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_Med_S__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_No_L__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cost_Analyst_Yes_E__c</field>
            <value>
                <elementReference>var_Is_Cost_Analyst_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_No__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Partially__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Partially</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Self_Mixing_Yes__c</field>
            <value>
                <elementReference>var_Is_Self_Mixing_Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_Med_S__c</field>
            <value>
                <elementReference>var_Open_For_Changes_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_No_L__c</field>
            <value>
                <elementReference>var_Open_For_Changes_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_For_Changes_Yes_E__c</field>
            <value>
                <elementReference>var_Open_For_Changes_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_Med_S__c</field>
            <value>
                <elementReference>var_Price_Management_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_No_L__c</field>
            <value>
                <elementReference>var_Price_Management_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Management_Yes_E__c</field>
            <value>
                <elementReference>var_Price_Management_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j00000000JbqAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_Med_S__c</field>
            <value>
                <elementReference>var_Want_To_Invest_Med_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_No_L__c</field>
            <value>
                <elementReference>var_Want_To_Invest_No_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_To_Invest_Yes_E__c</field>
            <value>
                <elementReference>var_Want_To_Invest_Yes_E</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Advisory_Needed_Answers__c</field>
            <value>
                <elementReference>sc_Advisory_Needed_Answers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sc_Via_Dealer_Answers__c</field>
            <value>
                <elementReference>sc_Via_Dealer_Answers</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Segmentation__c</object>
    </recordCreates>
    <screens>
        <name>sc_Advisory_Needed_Question</name>
        <label>Czy hodowca w istotnym stopniu potrzebuje doradztwa żywieniowego firmy paszowej?</label>
        <locationX>479</locationX>
        <locationY>5</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Advisory_Needed_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1_header1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Advisory_Needed_Answers</name>
            <choiceReferences>Advisory_Needed_Yes</choiceReferences>
            <choiceReferences>Advisory_Needed_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca w istotnym stopniu potrzebuje doradztwa żywieniowego firmy paszowej?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Channel_Is_Dealer_Question</name>
        <label>Kanał sprzedaży - dystrybucja czy direct?</label>
        <locationX>46</locationX>
        <locationY>8</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Dealer_Channel_Decisions</targetReference>
        </connector>
        <fields>
            <name>Welcome_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Szanowni Państwo,&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Body</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Niniejsza &lt;B&gt;ankieta ma na celu&lt;/B&gt; &lt;B&gt;zakwalifikowanie&lt;/B&gt; hodowcy (istniejącego bądź potencjalnego klienta) do właściwego &lt;B&gt;segmentu &lt;/B&gt;w oparciu o:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;segmentację podstawową tzw. Step-1&lt;/B&gt; (w CFN: Noah, Sonya lub w dystrybucji: Dennis, Baxter lub ich klient tj. Użytkownik Końcowy | Konsument (z ang. End-User | Consumer)&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;subsegmentację 9-Box tzw. Step-2 &lt;/B&gt;(9 pól kwadratu, którego oś Y reprezentuje potencjał klienta a oś X reprezentuje zakres serwisu i produktów, który stanowi taką wartość dla hodowcy za którą jest skłonny zapłacić).&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Footer</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Przypisanie hodowcy/klienta/dealera do segmentu na podstawie zdefiniowanych kryteriów umożliwi lepsze dopasowanie istniejącej oferty produktowej i serwisowej do potrzeb danego hodowcy/klienta, stworzenie nowej wyróżniającej się oferty poprzez lepsze zrozumienie naszego klienta a także pozwoli nam na skoncentrowanie naszych ograniczonych zasobów we właściwych segmentach.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Break</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_header1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Segmentacja Podstawowa Step-1&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Nazwa konta: {!varAccountAliasName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Rola użytkownika w Crescendo: {!varActiveUserRole}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Channel_Is_Dealer_Answers</name>
            <choiceReferences>Channel_Is_Dealer</choiceReferences>
            <choiceReferences>Channel_Is_Direct</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Jakiego rodzaju klienta/prospekta dotyczy niniejsza ankieta?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_Break30</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Break31</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;UWAGA:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Jeżeli na koncie znajduje się niezatwierdzony wniosek o założenie w AXapcie / aktualizację limitu kredytowego/danych - ankiety nie będzie można zapisać dopóki nie zostanie ów wniosek zatwierdzony.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_End</name>
        <label>End</label>
        <locationX>1286</locationX>
        <locationY>2044</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dziękujęmy za udział w ankiecie!&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Baxter_Question</name>
        <label>Baxter</label>
        <locationX>521</locationX>
        <locationY>1136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sc_Is_Baxter_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header11_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1_header1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS1_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_BaxterDescription</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Kryteria klasyfikacji - step 2 – oś X  Baxter (Podstawowy, Średnio Zaawansowany, Wymagający)  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Baxter Podstawowy&lt;/B&gt; - prowadzi sprzedaż stacjonarną, gdzie najczęściej on sam lub rodzina są sprzedawcami . Nie wyjeżdża w teren do klientów.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Baxter Zaawansowany &lt;/B&gt;- optymalizuje biznes, inwestuje ostrożnie gdy jest to jest potrzebne lub zostanie przekonany. Do klientów w teren raczej nie wyjeżdża albo rzadko (chyba, że dot. dowozu paszy, windykacji). Dowozi pasze do klientów (posiada mobila / mobile). Nie zatrudnia Przedstawiciela Handlowego / nie widzi potrzeby zatrudniania PH działającego w terenie.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Baxter Wymagający -&lt;/B&gt; chce się rozwijać. Rozumie uwarunkowania rynkowe oraz wynikające z konkurencyjności. Nie boi się inwestować ale oczekuje wskazówek, rekomendacji oraz wsparcia. Widzi potrzebę integracji / spotkań z klientami, choć nie zawsze jest to jego osobistym priorytetem. Zaangażowany w budowanie dostępności i obsługę klienta (mobil, POS) Dla dalszego rozwoju jest gotowy zatrudnić / widzi potrzebę zatrudnienia PH działającego w terenie ( może też już posiadać PH)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS2_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Baxter_Answers</name>
            <choiceReferences>BaxterSeasonal</choiceReferences>
            <choiceReferences>BaxterWholeYear</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy punkt paszowy Dystrybutora jest dostępny:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break1_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_BaxterNoOfSalesPoints_Answers</name>
            <choiceReferences>BaxterPOS_1</choiceReferences>
            <choiceReferences>BaxterPOS_2_3</choiceReferences>
            <choiceReferences>BaxterPOS_4orMore</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Ilość punktów sprzedaży paszy: (suma punktów tj. własne magazyny + mobil/e + van selling)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break2_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_DealersOffer_Answers</name>
            <choiceReferences>HasSelectiveOffer</choiceReferences>
            <choiceReferences>HasExtensiveOffer</choiceReferences>
            <choiceReferences>HasAlignedOffer</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Jaka jest oferta Dystrybutora i czy dowozi / kredytuje sprzedaż pasz:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break3_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_ReactingOnChanges_Answers</name>
            <choiceReferences>ChangeResistant</choiceReferences>
            <choiceReferences>ConsiderChanges</choiceReferences>
            <choiceReferences>ChangeProactive</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;W jaki sposób Dystrybutor reaguje na zmiany, które wynikają z oczekiwań klientów lub sytuacji rynkowej:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break_Line_40</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Comment</name>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Komentarz (opcjonalny):&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Dennis_E_Question</name>
        <label>Charakterystyka Dealera</label>
        <locationX>505</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sc_DealerDennisSalesTo_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header11</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1_header1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_SpenceDescription_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Kryteria klasyfikacji - step 2 – oś X  Dennis (Wymagający)  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Dennis (wymagający) &lt;/B&gt;-  aktywny,  zaangażowany  w kierunkowy rozwoju w segmencie bydło lub trzoda . Zatrudnia PH ( PH’s) w terenie ( planuje lub jest w trakcie zatrudnienia PH )  Angażuje się w wyjazdy do klientów, ale najchętniej ze wsparciem DŻ z firmy paszowej. Koncentruje się  na  pogłębianiu współpracy  z klientami                 ( spotkania , integracja ) oraz pozyskaniu hodowców - liderów  opinii. Oczekuje stałego serwisu DŻ dla klientów z terenu , rozwiań i wsparcia dla swojej firmy / PH w pracy z klientami  trzoda lub bydło.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_DealerDennisSalesTo_Answers</name>
            <choiceReferences>BiggerConsumersYes</choiceReferences>
            <choiceReferences>SmallerConsumersYes</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sprzedaży Dystrybutora trafia do: &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break1_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Break50</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pytania wspólne dla Dennisa i Baxtera.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!sc_BaxterDescription}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_DealerDennisOffer_Answers</name>
            <choiceReferences>AlignedOfferYes</choiceReferences>
            <choiceReferences>PoultryProducts</choiceReferences>
            <choiceReferences>WideOfferYes</choiceReferences>
            <choiceReferences>ExtensiveOfferYes</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dla tego typu Dystrybutora w ofercie handlowej najważniejsze są:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break2_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_FeedSalesIncrease_Answers</name>
            <choiceReferences>DontEmployPHnorPOS_Yes</choiceReferences>
            <choiceReferences>DontEmployPHbutPOS_Yes</choiceReferences>
            <choiceReferences>WantsEmployPHandPOS_Yes</choiceReferences>
            <choiceReferences>EmployPHMoreImportantThanPOS_Yes</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dystrybutor dla wzrostu sprzedaży pasz:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break3_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Open_For_Changes_Question</name>
        <label>Czy hodowca jest otwarty na zmiany w zakresie nowych produktów i usług?</label>
        <locationX>1273</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_For_Changes_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step2_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;U&gt;Subsegmentacja 9-Box Step-2&lt;/U&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Nazwa konta: {!varAccountAliasName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Rola użytkownika w Crescendo: {!varActiveUserRole}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Open_For_Changes_Answers</name>
            <choiceReferences>Open_For_Changes_Yes_E</choiceReferences>
            <choiceReferences>Open_For_Changes_Med_S</choiceReferences>
            <choiceReferences>Open_For_Changes_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca jest otwarty na zmiany w zakresie nowych produktów i usług?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Cost_Analyst_Answers</name>
            <choiceReferences>Is_Cost_Analyst_Yes_E</choiceReferences>
            <choiceReferences>Is_Cost_Analyst_Med_S</choiceReferences>
            <choiceReferences>Is_Cost_Analyst_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca prowadząc biznes analizuje szczegółowo koszty?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Want_To_Invest_Answers</name>
            <choiceReferences>Want_To_Invest_Yes_E</choiceReferences>
            <choiceReferences>Want_To_Invest_Med_S</choiceReferences>
            <choiceReferences>Want_To_Invest_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca wyraża chęć rozwoju i inwestowania w swój biznes?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Price_Management_Answers</name>
            <choiceReferences>Price_Management_Yes_E</choiceReferences>
            <choiceReferences>Price_Management_Med_S</choiceReferences>
            <choiceReferences>Price_Management_No_L</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;W jaki sposób hodowca zarządza ceną sprzedaży? &lt;I&gt;(nie dotyczy bydła - w przypadku kolegów / koleżanek z działu bydlęcego proszę zaznaczyć I opcję - cała sprzedaż zakontraktowana)&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Comment</name>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Komentarz (opcjonalnie)&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Self_Mixing_Question</name>
        <label>Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?</label>
        <locationX>887</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Self_Mixing_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header3</name>
            <fieldText>{!Step1_header1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Self_Mixing_Question_header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Is_Self_Mixing_Answers</name>
            <choiceReferences>Is_Self_Mixing_Yes</choiceReferences>
            <choiceReferences>Is_Self_Mixing_Partially</choiceReferences>
            <choiceReferences>Is_Self_Mixing_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca posiada zasoby, aby samodzielnie mieszać paszę z premiksów (sam produkuje pasze pełnoporcjowe)?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;I&gt;Bydło - chodzi o produkcję w gospod. w mieszalniku (nie wozie paszowym) mieszanki składającej się ze zbóż, śrut białkowych czy innych źródeł białka lub też takiego, który korzysta usługowo z mobilnych mieszalników bo jest nastawiony na stosowanie premiksów.&lt;/I&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Is_Spence_Question</name>
        <label>Charakterystyka Dealera - wersja testowa dla Dystrybucji (nie używać)</label>
        <locationX>217</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sc_DealerSalesLevel_Decisions</targetReference>
        </connector>
        <fields>
            <name>Step1_header10</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1_header1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_SpenceDescription</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Kryteria klasyfikacji - step 2 – oś X Spence&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Spence &lt;/B&gt; - jest merytoryczny oraz samodzielny w podejmowaniu decyzji / działaniu. Spędza dużo czasu w terenie lub kontaktach z hodowcami oraz podnoszeniu wiedzy żywieniowej. Wsparcie DŻ z firmy paszowej dotyczy wybranych zakresów  lub konkretnych ( wskazanych ) klientów. Własny / właśni PH obsługują i świadczą serwis w terenie pod jego bezpośrednim, merytorycznym nadzorem.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakS2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_DealerSalesLevel_Answers</name>
            <choiceReferences>DealerSalesLevelAbove50pc</choiceReferences>
            <choiceReferences>DealerSalesLevelBelow50pc</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Jaką część całościowej sprzedaży paszy Dystrybutora stanowią premiksy w stosunku do koncentratów?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_FeedingFormulas_Answers</name>
            <choiceReferences>FeedingFormulas_PremixAndIngredients</choiceReferences>
            <choiceReferences>FeedingFormulas_CompleteFeedAndConcentrates</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy dawki żywieniowe dla klientów w większości układane są w oparciu o?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_FeedingFormulasCreation_Answers</name>
            <choiceReferences>IsDistributorCreatingFormulasYes</choiceReferences>
            <choiceReferences>IsFeedCompanyCreatingFormulasYes</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Kto układa hodowcom (bierze odpowiedzialność za) większość dawek żywieniowych?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Via_Dealer</name>
        <label>Kanał sprzedaży - dystrybucja czy direct?</label>
        <locationX>1269</locationX>
        <locationY>201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Via_Dealer_Decisions</targetReference>
        </connector>
        <fields>
            <name>Break03</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_header4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1_header1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc_Via_Dealer_Answers</name>
            <choiceReferences>Via_Dealer_Yes</choiceReferences>
            <choiceReferences>Via_Dealer_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Via_Dealer_No</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Czy hodowca/klient kupuje przez Dealer&amp;apos;a (kanał dystrybucyjny)?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>sc_Channel_Is_Dealer_Question</startElementReference>
    <variables>
        <name>var_AlignedOfferYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BaxterPOS_1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BaxterPOS_2_3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BaxterPOS_4orMore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BaxterSeasonal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BaxterWholeYear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_BiggerConsumersYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ChangeProactive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ChangeResistant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ConsiderChanges</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DealerSalesLevelAbove50pc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DealerSalesLevelBelow50pc_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DontEmployPHbutPOS_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_DontEmployPHnorPOS_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_EmployPHMoreImportantThanPOS_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ExtensiveOfferYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_FeedingFormulas_CompleteFeedAndConcentrates</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_FeedingFormulas_PremixAndIngredients</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_HasAlignedOffer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_HasExtensiveOffer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_HasSelectiveOffer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Cost_Analyst_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Cost_Analyst_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Cost_Analyst_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_No</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_Partially</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Self_Mixing_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_IsDistributorCreatingFormulasYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_IsFeedCompanyCreatingFormulasYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Open_For_Changes_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_out_UserLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
    <variables>
        <name>var_out_UserName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_out_UserProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>var_out_UserRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserRole</objectType>
    </variables>
    <variables>
        <name>var_PoultryProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Price_Management_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Price_Management_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Price_Management_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SmallerConsumersYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_Med_S</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_No_L</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Want_To_Invest_Yes_E</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_WantsEmployPHandPOS_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_WideOfferYes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountAliasName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>AccountId to receive from button</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
