GitVersion1/flows/Update_Project_Group_Sales_Consultant-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>FlowRecordDeleteAssignment</name>
        <label>FlowRecordDeleteAssignment</label>
        <locationX>180</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>varFlowDummyRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordDeleteLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flowRecordDeleteElement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_User_Id_Assignment</name>
        <label>Sales User Id Assignment</label>
        <locationX>499</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSalesUserCollectionLoopVariable.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalesUserRecordCreateElement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Id_Check</name>
        <label>Account Id Check</label>
        <locationX>25</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Account_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Id Is Null</defaultConnectorLabel>
        <rules>
            <name>Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Consultant</targetReference>
            </connector>
            <label>Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Consultant</name>
        <label>Check Sales Consultant</label>
        <locationX>29</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales User Not Present</defaultConnectorLabel>
        <rules>
            <name>Sales_User_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Sales_Consultant</targetReference>
            </connector>
            <label>Sales User Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_UserId</name>
        <label>Check Selected UserId</label>
        <locationX>343</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>UserIdErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Selected</defaultConnectorLabel>
        <rules>
            <name>User_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProjectGroup</targetReference>
            </connector>
            <label>User Id Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FlowDummyObjectDynamicChoice</name>
        <dataType>String</dataType>
        <displayField>User_Name__c</displayField>
        <filters>
            <field>AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Flow_Dummy_Object__c</object>
        <outputAssignments>
            <assignToReference>varSelectedUserId</assignToReference>
            <field>UserId__c</field>
        </outputAssignments>
        <valueField>UserId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesConsultantDynamicChoice</name>
        <dataType>String</dataType>
        <displayField>UserId</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Consultant</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varUserID</assignToReference>
            <field>UserId</field>
        </outputAssignments>
        <valueField>UserId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>userDynamicNames</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varUserNameNew</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserIDName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Project Group Sales Consultant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Group Sales Consultant</label>
    <loops>
        <name>FlowRecordDeleteLoop</name>
        <label>FlowRecordDeleteLoop</label>
        <locationX>180</locationX>
        <locationY>9</locationY>
        <assignNextValueToReference>varRecordDeleteLoop</assignNextValueToReference>
        <collectionReference>varAccountIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FlowRecordDeleteAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Team_LookUp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SalesUserCollectiontLoop</name>
        <label>SalesUserCollectiontLoop</label>
        <locationX>743</locationX>
        <locationY>4</locationY>
        <assignNextValueToReference>varSalesUserCollectionLoopVariable</assignNextValueToReference>
        <collectionReference>varSalesUserCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sales_User_Id_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Id_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>SalesUserRecordCreateElement</name>
        <label>SalesUserRecordCreateElement</label>
        <locationX>750</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>SalesUserCollectiontLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Dummy_Object__c</object>
    </recordCreates>
    <recordDeletes>
        <name>flowRecordDeleteElement</name>
        <label>flowRecordDeleteElement</label>
        <locationX>23</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>FlowRecordDeleteLoop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowDummyRecordID</elementReference>
            </value>
        </filters>
        <object>Flow_Dummy_Object__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Account_Team_LookUp</name>
        <label>Account Team LookUp</label>
        <locationX>416</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesUserCollectiontLoop</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Consultant</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>varSalesUserCollection</outputReference>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FlowDummyObjectLookUp</name>
        <label>FlowDummyObjectLookUp</label>
        <locationX>24</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FlowRecordDeleteLoop</targetReference>
        </connector>
        <filters>
            <field>AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Flow_Dummy_Object__c</object>
        <outputReference>varAccountIdCollection</outputReference>
        <queriedFields>UserId__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProjectGroup</name>
        <label>UpdateProjectGroup</label>
        <locationX>34</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>Final_Mesage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectGroupId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Consultant_New__c</field>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Group__c</object>
    </recordUpdates>
    <screens>
        <name>Account_Not_Present</name>
        <label>Account Not Present</label>
        <locationX>342</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account_Null_Fault_Message</name>
            <fieldText>Error Occoured: Please select the customer before updating the Sales Consultant: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>274</locationX>
        <locationY>680</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Error Occoured Please contact your Administator - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage1</name>
        <label>ErrorMessage1</label>
        <locationX>343</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Messagedisplay</name>
            <fieldText>Account Team should have atleast one user with Sales Consultant Role</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Mesage</name>
        <label>Final Mesage</label>
        <locationX>523</locationX>
        <locationY>629</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Sales Consultant name has been updated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Sales_Consultant</name>
        <label>Select Sales Consultant</label>
        <locationX>32</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_UserId</targetReference>
        </connector>
        <fields>
            <name>DisplaySalesConsultantText</name>
            <fieldText>Please select the Sales Consultant:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Consultant</name>
            <choiceReferences>FlowDummyObjectDynamicChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Consultant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserIdErrorMessage</name>
        <label>UserIdErrorMessage</label>
        <locationX>633</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message2</name>
            <fieldText>Error: Please select atleast one Sales Consultant in the previous screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FlowDummyObjectLookUp</startElementReference>
    <variables>
        <description>Stores Account Id of the new Project Group</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountIdCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_Dummy_Object__c</objectType>
    </variables>
    <variables>
        <name>varFlowDummyRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProjectGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordDeleteLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_Dummy_Object__c</objectType>
    </variables>
    <variables>
        <name>varRecordDeleteUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalesUserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varSalesUserCollectionLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varSalesUsersObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_Dummy_Object__c</objectType>
    </variables>
    <variables>
        <name>varSelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserNameNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
